version: '3.9'

services:
  app:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./app:/app
      - ./certs:/certs
    environment:
      - DB_URI=mysql+pymysql://doadmin:AVNS_UvD8NRS3PQSeGk2sRiq@client-job-db-do-user-20060435-0.l.db.ondigitalocean.com:25060/clients_jobs_db?ssl_ca=/certs/ca-certificate.crt
